/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(183, 249, 204) , rgb(65, 163, 52));
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    
}
.heading{
    color:rgb(65, 163, 52);

}
.para{
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    margin-bottom: 6px;
    color: #000000;
}

.age-group{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.age-group legend {
    padding: 0 5px;
    font-weight: bold;
} 
.age-group label {
    display: block;
}

.form-group input,
.form-group select{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 100%;
}
.form-group input::placeholder{
    color: rgb(132, 229, 162);
}
select{
    color: rgb(132, 229, 162);
}
.form-group textarea{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 70%;
}
.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
button {
    background-color: rgb(65, 163, 52);
    border: 1px solid #777;
    border-radius: 2px;
    color: white;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px;
    cursor: pointer;
}







